<h1>Your Fur Ball</h1>
<h1><%= @pet.name %> is your <%= @pet.species %></h1>
    <p>Sex: <%= @pet.sex %><br/>
    Age: <%= @pet.age %> <br/>
    Breed: <%= @pet.breed %>
    </p>
<%= link_to "back to list", pets_path %>
