<% unless @pet %>
<h1>You don't have any pets at this time.</h1>
<% end %>
<h3><%= @pet.name %> is your <%= @pet.species %></h3>
    <p>Sex: <%= @pet.sex %><br/>
    Age: <%= @pet.age %> <br/>
    Breed: <%= @pet.breed %>
    </p>
<%= link_to "back to list", pets_path %>
